---
import Icon from "astro-icon";
import "../../styles/Hero.scss";
const IMAGE_BASE_URL =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_450/lionpark-swipers";
const IMAGE_BASE_URL_TABLET =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_350/lionpark-swipers";
const IMAGE_BASE_URL_MOBILE =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_250/lionpark-swipers";
const IMAGE_BASE_URL_LOW =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_20/lionpark-swipers";
const items = Array.from({ length: 10 });
---

<div class="hero__bottom swiper">
  <div
    class="hero__bottom--images swiper-wrapper"
    data-mouse-at="0"
    data-prev-percent="0">
    {
      items.map((_, index) => {
        return (
          <div class="hero__image swiper-slide">
            <picture>
              <source
                srcset={`${IMAGE_BASE_URL}/swiper_${index + 1}.jpg`}
                media="(min-width: 75em)"
              />
              <source
                srcset={`${IMAGE_BASE_URL_TABLET}/swiper_${index + 1}.jpg`}
                media="(min-width: 40em)"
              />
              <img
                src={`${IMAGE_BASE_URL_LOW}/swiper_${index + 1}.jpg`}
                data-src={`${IMAGE_BASE_URL_MOBILE}/swiper_${index + 1}.jpg`}
                alt="lion picture from our zoo"
                class="lazy"
              />
            </picture>
          </div>
          // <img
          //   class="hero__image-img lazy"
          //   data-src={`${IMAGE_BASE_URL}/swiper_${index + 1}.jpg`}
          //   src={`${IMAGE_BASE_URL_LOW}/swiper_${index + 1}.jpg`}
          //   alt="lion picture from our lion zoo"
          // />
        );
      })
    }
  </div>
  <div class="hero__bottom--buttons">
    <button class="hero__buttom--prev">
      <Icon
        class="icon hero__bottom--icon hero__bottom--icon-1"
        name="bi:arrow-up"
      />
    </button>
    <button class="hero__buttom--next">
      <Icon
        class="icon hero__bottom--icon hero__bottom--icon-2"
        name="bi:arrow-up"
      />
    </button>
  </div>
</div>
<script src="../../script/HeroSwiper.js"></script>
